@page "/changePass"
@using SanGiaoDich_BrotherHood.Shared.Models
@using SanGiaoDich_BrotherHood.Shared.Dto
@using System.Security.Cryptography
@using System.Text
@inject HttpClient http
@inject IJSRuntime js
@inject NavigationManager navigation

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success fs-3">@successMessage</div>
            }
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger fs-5">@errorMessage</div>
            }
        </div>
    </div>
    <h2 class="d-flex justify-content-center">Đổi mật khẩu</h2>
    <div class="row">
        <div class="col-md-4 offset-4">
            <form @onsubmit="SubmitForm">
                <div class="form-group">
                    <label class="control-label">Mật khẩu cũ</label>
                    <input type="password" class="form-control" @bind="oldPass" />
                    @if (!string.IsNullOrEmpty(errorOldPass))
                    {
                        <div class="text-danger">@errorOldPass</div>
                    }
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Mật khẩu mới</label>
                    <input type="password" class="form-control" @bind="newPass" />
                    @if (!string.IsNullOrEmpty(errorNewPass))
                    {
                        <div class="text-danger">@errorNewPass</div>
                    }
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" @bind="newPass2" />
                    @if (!string.IsNullOrEmpty(errorNewPass2))
                    {
                        <div class="text-danger">@errorNewPass2</div>
                    }
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-dark btn-block" style="border-radius: 20px" type="submit">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>
